<p-dialog header="Certificación" [(visible)]="displayLov" width="800" showEffect="fade" [responsive]="true" [positionTop]="120">

	<form #formFiltros="ngForm" class="f-filtros-lov ui-g ui-fluid shadow-box ui-shadow-1">

		<div class="ui-g-12 ui-g-nopad">

			<div class="ui-g-12 ui-md-2">
				<label for="ccertificacion" class="ui-outputlabel">Certificación</label>
			</div>
			<div class="ui-g-12 ui-md-2">
				<input pInputText name="ccertificacion" [(ngModel)]="mfiltros.ccertificacion" autofoco maxlength="10" />
			</div>			
		</div>
		<div class="ui-g-12 ui-g-nopad">
			<div class="ui-g-12 ui-md-2" *ngIf="!filtrasporfingreso">
				<label for="finicio" class="ui-outputlabel ">Fecha certificación inicio</label>
			</div>
			<div class="ui-g-12 ui-md-2" *ngIf="filtrasporfingreso">
				<label for="finicio" class="ui-outputlabel ">Fecha ingreso inicio</label>
			</div>            
			<div class="ui-g-6 ui-md-2">
				<p-calendar name="finicio" [(ngModel)]="mcampos.finicio" [showIcon]="true" appendTo="body"  [dateFormat]="formatofecha"></p-calendar>
			</div>
			<div class="ui-g-12 ui-md-2" *ngIf="!filtrasporfingreso">
				<label for="ffin" class="ui-outputlabel ">Fecha certificación fin</label>
			</div>
			<div class="ui-g-12 ui-md-2" *ngIf="!filtrasporfingreso">
				<label for="ffin" class="ui-outputlabel ">Fecha ingreso fin</label>
			</div>
			<div class="ui-g-6 ui-md-2">
				<p-calendar name="ffin" [(ngModel)]="mcampos.ffin" [showIcon]="true" appendTo="body" [dateFormat]="formatofecha" mask="yyyy.MM.dd" ></p-calendar>
			</div>
		</div>			
	</form>

	<div class="f-datacontent ui-g ui-fluid">
		<div class="ui-g-12 ui-g-nopad">
			<p-dataTable [value]="lregistros" [responsive]="true" selectionMode="single" (onRowSelect)="seleccionaRegistro($event)" scrollable="true"
			 scrollHeight="250px">
				<p-header>
					<div class="ui-table-title">Certificación</div>
					<acciones-consulta [componente]="componentehijo" [anterior]="true" [siguiente]="true">
					</acciones-consulta>
				</p-header>
				<p-column field="ccertificacion" header="C&oacute;digo" ></p-column>
				<p-column field="fingreso" header="F.Certificación" >
					<ng-template pTemplate="body" let-reg="rowData">
						<span>{{reg.fcertificacion | date: 'yyyy-MM-dd'}}</span>
					</ng-template>
				</p-column>
				<p-column field="fingreso" header="F.Caducidad" >
					<ng-template pTemplate="body" let-reg="rowData">
						<span>{{reg.fcaducidad | date: 'yyyy-MM-dd'}}</span>
					</ng-template>
				</p-column>
				<p-column field="estadocdetalle" header="Estado" ></p-column>
				<p-column field="infoadicional" header="Comentario" ></p-column>

			</p-dataTable>
		</div>
	</div>
</p-dialog>