<div class="f-contenedor-transaccion">
  <div class="f-acciones-cabecera ui-g ui-fluid">
    <acciones-cabecera [componente]="componentehijo" [grabar]="false"></acciones-cabecera>
    <button *ngIf="!finalizada" pButton type="button" label="Nueva nómina" style="position: absolute; right: 105px;" class="f-btn teal-btn"
    icon="ui-icon-add" (click)="listaNomina()"></button>
  </div>
  <form #formFiltros="ngForm" class="f-filtros ui-g ui-fluid shadow-box ui-shadow-1">
    <div class="ui-g-12  ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="aniof" class="ui-outputlabel ">Año:</label>
      </div>
      <div class="ui-g-12 ui-md-2">
        <input id="aniof" name="aniof" type="text" pInputText [ngModel]="mfiltros.anio" [readOnly]="true" />
      </div>
      <div class="ui-g-12 ui-md-1">
        <button pButton type="button" id="lovParametro" name="lovParametro" (click)="mostrarLovParametro()" icon="ui-icon-directions"></button>
      </div>
    </div>
    <app-lov-parametroanual (eventoCliente)=fijarLovParametroSelec($event)></app-lov-parametroanual>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="mescdetalle" class="ui-outputlabel ">Mes:</label>
      </div>
      <div class="ui-g-12 ui-md-3">
        <p-dropdown id="mescdetalle" name="mescdetalle" [options]="lmeses" [(ngModel)]="mfiltros.mescdetalle" [filter]="true" (onChange)="consultar()"></p-dropdown>
      </div>
    </div>
  </form>
  <div class="f-datacontent ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-dataTable [value]="lregistros" [responsive]="true" scrollable="true" scrollHeight="350px">
        <p-header>
          <div class="ui-table-title">NÓMINA</div>
          <acciones-consulta [componente]="componentehijo" [anterior]="true" [siguiente]="true"></acciones-consulta>
        </p-header>
        <p-column field="cnomina" header="C&oacute;digo" [style]="{'width':'60px'}"></p-column>
        <p-column field="anio" header="Año" [style]="{'width':'50px'}"></p-column>

        <p-column field="mdatos.nmes" header="Mes" [style]="{'width':'100px'}"></p-column>

        <p-column field="finicio" header="F. Inicio" [style]="{'width':'70px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <span>{{reg.finicio | date: 'yyyy-MM-dd'}}</span>
          </ng-template>
        </p-column>
        <p-column field="ffin" header="F. Fin" [style]="{'width':'70px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <span>{{reg.ffin | date: 'yyyy-MM-dd '}}</span>
          </ng-template>
        </p-column>
        <p-column field="mdatos.ntipo" header="Tipo" [style]="{'width':'100px'}"></p-column>

        <p-column field="mdatos.nestado" header="Estado" [style]="{'width':'100px'}"></p-column>

        <p-column header="Cerrada?" [style]="{'width':'65px'}" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            <p-checkbox [ngModel]="reg.cerrada" binary="true" disabled="true"></p-checkbox>
          </ng-template>
        </p-column>
        <p-column field="descripcion" header="Descripción"></p-column>
        <p-column [style]="{'width':'100px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <div class="f-table-actions">
              <button type="button" pButton icon="ui-icon-delete-forever" (click)="selectRegistro(reg)" icon="ui-icon-edit" style="margin-left:5px">
              </button>
              <span *ngIf="reg.estadicdetalle !='CON'">
                <button type="button" pButton icon="ui-icon-delete-forever" (click)="eliminarNomina(reg)" class="red-btn" style="margin-left:5px">
                </button>
              </span>
              
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>

<p-dialog header="Generación del personal por centro de costos" [(visible)]="asignacion" modal="modal" width="300" [responsive]="true" showEffect="fade"
  [positionTop]="120">

  <form #formFiltros="ngForm" class="f-filtros-lov ui-g ui-fluid shadow-box ui-shadow-1">
    <div class="ui-g-12 ui-md-9 reg-details">
      <div class="ui-g">
        <div class="ui-g-12 ui-sm-12">
          Elija el centro de costos para generar su nómina</div>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-4">
        <label for="fjerarquias" class="ui-outputlabel required">Centro de costos:</label>
      </div>
      <div class="ui-g-12 ui-md-8">
        <p-dropdown id="cplantilla" name="centrocostocdetalle" [options]="ltipo" [(ngModel)]="mcampos.centrocostocdetalle" appendTo="body" [filter]="true"
           required></p-dropdown>
      </div>
    </div>
    <p-footer>
      <button *ngIf="!estaVacio(mcampos.centrocostocdetalle)" type="button" pButton icon="fa-check" (click)="listaNomina()" label="Aceptar"></button>
    </p-footer>
  </form>
</p-dialog>