<div class="f-contenedor-transaccion">
  <div class="f-datacontent ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-dataTable [value]="lregistros" [responsive]="true" scrollable="true" scrollHeight="250px" [resizableColumns]="false">
        <p-header>
          <div class="ui-table-title">Tabla de amortización</div>
          <acciones-consulta [componente]="componentehijo" [anterior]="false" [siguiente]="false"></acciones-consulta>
        </p-header>
        <p-column field="num" header="Número" styleClass="f-center"></p-column>
        <p-column header="Vencimiento" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.fven | date:'yyyy-MM-dd'}}
          </ng-template>
        </p-column>
        <p-column header="Capital" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.cap | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="Interés" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.int | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="Seguros" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.seg | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="Cargos" styleClass="f-center" *ngIf="registro.car != undefined">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.car | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="CXP" styleClass="f-center" *ngIf="registro.cxp != undefined">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.cxp | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="CxC" styleClass="f-center" *ngIf="registro.cxc != undefined">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.cxc | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="Mora" styleClass="f-center" *ngIf="registro.mor != undefined">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.mor | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="Valor Cuota" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.valcuo | number:'1.2-2'}}
          </ng-template>
        </p-column>
        <p-column header="Saldo Capital" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            {{ reg.cred - reg.cvalor | number:'1.2-2'}}
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>