<div class="f-contenedor-transaccion">
	<div class="f-datacontent ui-g ui-fluid">
		<div class="ui-g-12 ui-g-nopad">

			<p-dataTable [value]="lregistros" [immutable]="false" [responsive]="true" scrollable="true" scrollHeight="250px">

				<p-header>
					<div class="ui-table-title">Contabilización Proyectada</div>
					<acciones-consulta [componente]="componentehijo" [anterior]="true" [siguiente]="true"></acciones-consulta>
				</p-header>

				<p-column header="F.Colocación" [style]="{'width':'70px'}" styleClass="f-center">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.mdatos.nfcolocacion | date:'yyyy-MM-dd' }}
					</ng-template>
				</p-column>

				<p-column field="mdatos.nCompraCupon" header="Cupón" [style]="{'width':'60px'}" styleClass="f-center"></p-column>

				<p-column field="mdatos.nTipoDividendo" header="Tipo Dividendo" [style]="{'width':'50px'}" styleClass="f-center"></p-column>

				<p-column header="Valor Acciones" styleClass="f-right" [style]="{'width':'90px'}">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.valoracciones | number:'1.2-2'}}
					</ng-template>
				</p-column>

				<p-column header="Valor Nominal" styleClass="f-right" [style]="{'width':'90px'}">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.valornominal | number:'1.2-2'}}
					</ng-template>
				</p-column>

				<p-column header="Precio de Compra" styleClass="f-right" [style]="{'width':'90px'}">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.preciocompra | number:'1.2-2'}}
					</ng-template>
				</p-column>

				<p-column header="% Interés Cupón" styleClass="f-right" [style]="{'width':'90px'}">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.tasainterescupon }}
					</ng-template>
				</p-column>

				<p-column header="Valor Dividendos Pagados" styleClass="f-right" [style]="{'width':'90px'}">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.valordividendospagados | number:'1.2-2'}}
					</ng-template>
				</p-column>

				<p-column header="% Participación" styleClass="f-right" [style]="{'width':'90px'}">
					<ng-template pTemplate="body" let-reg="rowData">
						{{ reg.porcentajeparticipacioncupon | number:'1.2-2'}}
					</ng-template>
				</p-column>



				<p-column [style]="{'width':'100px'}" *ngIf="pEditable != 0">
					<ng-template pTemplate="body" let-reg="rowData">
						<div class="f-table-actions">
							<acciones-reg [componente]="componentehijo" [reg]="reg"></acciones-reg>
						</div>
					</ng-template>
				</p-column>

				<p-footer *ngIf="pEditable != 0">
					<div class="ui-helper-clearfix" style="width: 100%" *ngIf="ins">
						<button type="button" pButton icon="ui-icon-add" (click)="crearNuevo()" label="Nuevo" class="f-btn f-float-left orange-btn"></button>
					</div>
				</p-footer>


			</p-dataTable>
		</div>
	</div>
</div>

<p-dialog header="Detalle de la Inversión" [(visible)]="mostrarDialogoGenerico" [modal]="true" showEffect="fade" [responsive]="true"
 [positionTop]="70">
	<form #formDialogoProv="ngForm">
		<div class="f-dialogo" style="max-width: 700px">
			<div class="f-datacontent ui-g ui-fluid">
				<div class="ui-g-12 ui-g-nopad">
					<div class="title_separator">
						<i class="fa ui-icon-adjust"></i>
						<span>Instrumento</span>
					</div>
					<hr />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="nfcolocacion" class="ui-outputlabel required">Fecha de Colocación</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<p-calendar id="nfcolocacion" name="nfcolocacion" [(ngModel)]="registro.mdatos.nfcolocacion" [showIcon]="true" [locale]="es"
					 [disabled]="pEditable == 0" required [dateFormat]="formatofecha" (ngModelChange)="actualizarFecha()"></p-calendar>
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="compracuponcdetalle" class="ui-outputlabel required">Compra de Cupón</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<p-dropdown id="compracuponcdetalle" name="compracuponcdetalle" [options]="lCompraCupon" [(ngModel)]="registro.compracuponcdetalle"
					 required [disabled]="pEditable == 0" (onChange)="registrarEtiqueta(registro, lCompraCupon, 'compracuponcdetalle', 'nCompraCupon')"></p-dropdown>
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="centrocostocdetalle" class="ui-outputlabel required">Centro de costos:</label>
				</div>
				<div class="ui-g-12 ui-md-5">
					<p-dropdown id="centrocostocdetalle" name="centrocostocdetalle" [options]="lCentrocostos" required [(ngModel)]="registro.centrocostocdetalle"
					 (onChange)="registrarEtiqueta(registro, lCentrocostos, 'centrocostocdetalle', 'nCentroCostos')"></p-dropdown>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="title_separator">
						<i class="fa ui-icon-adjust"></i>
						<span>Valor de la Posición en el Mercado</span>
					</div>
					<hr />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="valornominal" class="ui-outputlabel required">Valor Nominal</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=valornominal name="valornominal" [(ngModel)]="registro.valornominal" numeroDecimal7 maxlength="20"
					 [disabled]="pEditable == 0" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="valoracciones" class="ui-outputlabel required">Valor Acciones</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=valoracciones name="valoracciones" [(ngModel)]="registro.valoracciones" numeroDecimal7 maxlength="20"
					 [disabled]="pEditable == 0" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="preciounitarioaccion" class="ui-outputlabel  required">Precio Unitario</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=preciounitarioaccion name="preciounitarioaccion" [(ngModel)]="registro.preciounitarioaccion"
					 numeroDecimal7 maxlength="20" [disabled]="pEditable == 0" />
				</div>


				<div class="ui-g-12 ui-md-2">
					<label for="numeroacciones" class="ui-outputlabel  required">Número de Acciones</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=numeroacciones name="numeroacciones" [(ngModel)]="registro.numeroacciones" numeroDecimal7
					 maxlength="20" [disabled]="pEditable == 0" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="preciocompra" class="ui-outputlabel  required">Precio de Compra</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=preciocompra name="preciocompra" [(ngModel)]="registro.preciocompra" numeroDecimal7 maxlength="20"
					 [disabled]="pEditable == 0" (ngModelChange)="contabilizar()" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="tipodividendocdetalle" class="ui-outputlabel required">Tipo de Dividendo</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<p-dropdown id="tipodividendocdetalle" name="tipodividendocdetalle" [options]="lTipoDividendo" [(ngModel)]="registro.tipodividendocdetalle"
					 required [disabled]="pEditable == 0" (onChange)="registrarEtiqueta(registro, lTipoDividendo, 'tipodividendocdetalle', 'nTipoDividendo')"></p-dropdown>
				</div>


				<div class="ui-g-12 ui-md-2">
					<label for="valordividendospagados" class="ui-outputlabel">Dividendos Pagados</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=valordividendospagados name="valordividendospagados" [(ngModel)]="registro.valordividendospagados"
					 numero maxlength="14" [disabled]="pEditable == 0" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="porcentajeparticipacioncupon" class="ui-outputlabel required">% Participación</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id=porcentajeparticipacioncupon name="porcentajeparticipacioncupon" [(ngModel)]="registro.porcentajeparticipacioncupon"
					 numero maxlength="14" [disabled]="pEditable == 0" />
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="title_separator">
						<i class="fa ui-icon-adjust"></i>
						<span>Comisiones</span>
					</div>
					<hr />
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="comisionbolsavalores" class="ui-outputlabel ">Comisión Bolsa de Valores</label>
					</div>
					<div class="ui-g-12 ui-md-2">
						<input type="text" pInputText id=comisionbolsavalores name="comisionbolsavalores" [(ngModel)]="registro.comisionbolsavalores"
						 numero maxlength="14" [disabled]="pEditable == 0" (ngModelChange)="totalizaComisiones()" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="comisionoperador" class="ui-outputlabel ">Comisión Operador</label>
					</div>
					<div class="ui-g-12 ui-md-2">
						<input type="text" pInputText id=comisionoperador name="comisionoperador" [(ngModel)]="registro.comisionoperador" numero
						 maxlength="14" [disabled]="pEditable == 0" (ngModelChange)="totalizaComisiones()" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="comisionretencion" class="ui-outputlabel ">Retención</label>
					</div>
					<div class="ui-g-12 ui-md-2">
						<input type="text" pInputText id=comisionretencion name="comisionretencion" [(ngModel)]="registro.comisionretencion" numero
						 maxlength="14" [disabled]="pEditable == 0" (ngModelChange)="totalizaComisiones()" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="comisiontotal" class="ui-outputlabel ">TOTAL COMISIONES</label>
					</div>
					<div class="ui-g-12 ui-md-2">
						<input type="text" pInputText id=comisiontotal name="comisiontotal" [(ngModel)]="mcampos.comisiontotal" numero maxlength="14"
						 [disabled]="true" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="title_separator">
						<i class="fa ui-icon-adjust"></i>
						<span>Negociación</span>
					</div>
					<hr />
				</div>

				<div class="ui-g-12 ui-g-nopad">

					<div class="ui-g-12 ui-md-2">
						<label for="valornegociado" class="ui-outputlabel ">Valor Negociado</label>
					</div>
					<div class="ui-g-12 ui-md-4">
						<input type="text" pInputText id=valornegociado name="valornegociado" [(ngModel)]="registro.valornegociado" numero maxlength="14"
						 [disabled]="pEditable == 0" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="efectivonegociado" class="ui-outputlabel ">Efectivo Negociado</label>
					</div>
					<div class="ui-g-12 ui-md-4">
						<input type="text" pInputText id=efectivonegociado name="efectivonegociado" [(ngModel)]="registro.efectivonegociado" numero
						 maxlength="14" (ngModelChange)="calcularTotalAPagar()" [disabled]="pEditable == 0" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="comisionesnegociacion" class="ui-outputlabel ">Comisiones Negociación</label>
					</div>
					<div class="ui-g-12 ui-md-4">
						<input type="text" pInputText id=comisionesnegociacion name="comisionesnegociacion" [(ngModel)]="registro.comisionesnegociacion"
						 numero maxlength="14" [disabled]="true" />
					</div>
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="totalapagar" class="ui-outputlabel ">TOTAL A PAGAR</label>
					</div>
					<div class="ui-g-12 ui-md-4">
						<input type="text" pInputText id=totalapagar name="totalapagar" [(ngModel)]="registro.totalapagar" numero maxlength="14"
						 [disabled]="true" />
					</div>
				</div>



				<div class="ui-g-12 ui-g-nopad">
					<div class="title_separator">
						<i class="fa ui-icon-adjust"></i>
						<span>Auditoría</span>
					</div>
					<hr />
				</div>

				<div class="ui-g-12 ui-g-nopad">
					<div class="ui-g-12 ui-md-2">
						<label for="estadocdetalle" class="ui-outputlabel required">Estado</label>
					</div>
					<div class="ui-g-12 ui-md-4">
						<p-dropdown id="estadocdetalle" name="estadocdetalle" [options]="lEstado" [(ngModel)]="registro.estadocdetalle" required
						 [disabled]="pEditable == 0 || pEditable == 1"></p-dropdown>
					</div>
				</div>


				<div class="ui-g-12 ui-g-nopad">

					<div class="ui-g-12 ui-md-2">
						<label for="observaciones" class="ui-outputlabel">Observaciones</label>
					</div>
					<div class="ui-g-12 ui-md-8">
						<input type="text" pInputText id="observaciones" name="observaciones" [(ngModel)]="registro.observaciones" [disabled]="pEditable == 0"
						/>
					</div>
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="cusuarioing" class="ui-outputlabel">Usuario Creación</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id="cusuarioing" name="cusuarioing" [(ngModel)]="registro.cusuarioing" [disabled]="true" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="fingreso" class="ui-outputlabel">Fecha de Creación</label>
				</div>

				<div class="ui-g-12 ui-md-4">
					<p-calendar id="fingreso" name="fingreso" [(ngModel)]="registro.fingreso" [showIcon]="true" [locale]="es" [disabled]="true"
					 [dateFormat]="formatofecha"></p-calendar>
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="cusuariomod" class="ui-outputlabel">Usuario Modificación</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<input type="text" pInputText id="cusuariomod" name="cusuariomod" [(ngModel)]="registro.cusuariomod" [disabled]="true" />
				</div>

				<div class="ui-g-12 ui-md-2">
					<label for="fmodificacion" class="ui-outputlabel">Fecha de Modificación</label>
				</div>
				<div class="ui-g-12 ui-md-4">
					<p-calendar id="fmodificacion" name="fmodificacion" [(ngModel)]="registro.fmodificacion" [showIcon]="true" [locale]="es"
					 [disabled]="true" [dateFormat]="formatofecha"></p-calendar>
				</div>

			</div>
			<footer>
				<acciones-dialogo [formAcciones]="formDialogoProv" [componente]="componentehijo"></acciones-dialogo>
			</footer>
		</div>

	</form>
</p-dialog>