<form #formDialogoProv="ngForm">
		<p-fieldset>
		  <div class="f-dialogo" style="max-width: 700px">
			  <div class="f-datacontent ui-g ui-fluid">
				 <div class="ui-g-12 ui-g-nopad">
					<p>{{mcampos.mensajeSeguro}} </p>
				 </div>
				 <div class="ui-g-6 ui-g-nopad">
					
					 <div *ngIf="cesantia" class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
							   <label for="totalaportes" class="ui-outputlabel">Cuantia Básica</label>
						</div>
						<div class="ui-g-12 ui-md-6">
							  <input type="text" numero style="background-color: #52be80;color: #FFFFFF;" pInputText id="cuantiabasica" name="cuantiabasica" [(ngModel)]="registro.mdatos.vcuantiabasica"
							   [readOnly]="true" />
						</div>
					 </div>
					 <div *ngIf="cesantia" class="ui-g-12 ui-g-nopad">
						 <div class="ui-g-12 ui-md-5">
							 <label for="totalaportes" class="ui-outputlabel">Bonificación</label>
						 </div>
						 <div class="ui-g-12 ui-md-6">
							 <input type="text" pInputText numero style="background-color: #52be80;color: #FFFFFF" id="bonificacion" name="bonificacion" [(ngModel)]="registro.mdatos.vbonificacion"
							 [readOnly]="true" />
						</div>
					 </div>
					 <div *ngIf="devolucion" class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
							<label for="totalaportes" class="ui-outputlabel">Total Aportes</label>
					   </div>
					   <div class="ui-g-12 ui-md-6">
							<input type="text" numero style="background-color:  #52be80; color: #FFFFFF" pInputText id="totalaportes" name="totalaportes" [(ngModel)]="registro.mdatos.taportes"
							[readOnly]="true" />
					   </div>
				     </div>
					  <div *ngIf="devolucion" class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
						  <label for="intereses" class="ui-outputlabel ">Total Aportes Con Descuento:</label>
						</div>
						<div class="ui-g-12 ui-md-6">
						  <input type="text" numero style="background-color:  #52be80; color: #FFFFFF" pInputText id="intereses"
							name="intereses" value="{{mcampos.taportesd | number:'1.2-2' }}" [readOnly]="true" />
						</div>
					  </div>
					  <div *ngIf="devolucion" class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
							<label for="descuentorete" class="ui-outputlabel ">Descuento Aportes 20%:</label>
						</div>
						<div class="ui-g-12 ui-md-6">
							 <input type="text" numero style="background-color: #e83330;color: #FFFFFF" pInputText id="descuentoapor" name="descuentoapor" [(ngModel)]="registro.mdatos.daportes"
							 [readOnly]="true" />
						</div>
					  </div>
					  <div *ngIf="devolucion" class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
						  <label for="intereses" class="ui-outputlabel ">Total Aportes Con Interes:</label>
						</div>
						<div class="ui-g-12 ui-md-6">
						  <input type="text" numero style="background-color:  #52be80; color: #FFFFFF" pInputText id="intereses"
							name="intereses" value="{{mcampos.taportesi | number:'1.2-2' }}" [readOnly]="true" />
						</div>
					  </div>
					  <div *ngIf="devolucion" class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
						   <label for="intereses" class="ui-outputlabel ">Interes:</label>
						</div>
						<div class="ui-g-12 ui-md-6">
						   <input type="text" numero style="background-color:  #52be80; color: #FFFFFF" pInputText id="intereses" name="intereses" [(ngModel)]="registro.mdatos.vinteres"
							[readOnly]="true" />
						</div>
					 </div>
					 <div class="ui-g-12 ui-g-nopad">
					  <div *ngIf="mcampos.cdetalletipoexp === 'ANT'" class="ui-g-12 ui-md-5">
						<label for="total" class="ui-outputlabel ">{{ntotal}}</label>
					  </div>
					  <div *ngIf="mcampos.cdetalletipoexp !== 'ANT'" class="ui-g-12 ui-md-5">
						<label for="total" class="ui-outputlabel ">{{ntotal}} {{mcampos.porcentaje}}</label>
					   </div>
					   <div class="ui-g-12 ui-md-6">
						 <input type="text" numero style="background-color: #52be80;color: #FFFFFF" pInputText id="totalingresos" name="totalingresos" [(ngModel)]="registro.subtotal"
						  [readOnly]="true" />
					  </div>
					</div>
					<div class="ui-g-12 ui-g-nopad">
						<div class="ui-g-12 ui-md-5">
							<label for="total" class="ui-outputlabel ">Valor a Recibir:</label>
						</div>
						<div class="ui-g-12 ui-md-6">
							<input type="text" numero style="background-color: #f1c40f ; color: #FFFFFF" pInputText id="total" name="total" [(ngModel)]="registro.totalliquidacion" [readOnly]="true" />
						</div>
				     </div>
					
			   </div>
			  <div class="ui-g-6 ui-g-nopad">
				<div class="ui-g-12 ui-g-nopad">
					  <div class="ui-g-12 ui-md-5">
						 <label for="descuentonove" class="ui-outputlabel ">Descuento Novedades:</label>
					  </div>
					  <div class="ui-g-12 ui-md-6">
						  <input type="text" numero style="background-color: #e83330;color: #FFFFFF" pInputText id="descuentonove" name="descuentonove" [(ngModel)]="registro.mdatos.dnovedades"
							[readOnly]="true" />
					 </div>
				 </div>
				 <div class="ui-g-12 ui-g-nopad">
					   <div class="ui-g-12 ui-md-5">
						  <label for="descuentorete" class="ui-outputlabel ">Descuento Retenciones:</label>
					  </div>
					   <div class="ui-g-12 ui-md-6">
						   <input type="text" numero style="background-color: #e83330;color: #FFFFFF" pInputText id="descuentorete" name="descuentorete" [(ngModel)]="registro.mdatos.dretencion"
							[readOnly]="true" />
					  </div>
				 </div>
				 <div class="ui-g-12 ui-g-nopad">
					  <div class="ui-g-12 ui-md-5">
						   <label for="total" class="ui-outputlabel ">Total Descuentos:</label>
					  </div>
					 <div class="ui-g-12 ui-md-6">
						   <input type="text" numero style="background-color: #c0001f;color: #FFFFFF" pInputText id="totalDescuentos" name="totalDescuentos" [(ngModel)]="mcampos.valordescuentossim"
						   [readOnly]="true" />
					 </div>
				 </div>
			   </div>
			   <div class="ui-g-12 ui-g-nopad">
					 <p>{{mcampos.mensaje}} </p>
			   </div>
			</div>
		</div>
	  </p-fieldset>
	 </form>