<div class="f-contenedor-transaccion">
  <div class="f-acciones-cabecera ui-g ui-fluid">
    <acciones-cabecera [componente]="componentehijo" [grabar]="false"></acciones-cabecera>
  </div>
  <form #formFiltros="ngForm" class="f-filtros ui-g ui-fluid shadow-box ui-shadow-1">
    <div class="ui-g-12  ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="aniof" class="ui-outputlabel ">Año:</label>
      </div>
      <div class="ui-g-12 ui-md-2">
        <input id="aniof" name="aniof" type="text" pInputText [ngModel]="mfiltros.anio" [readOnly]="true" />
      </div>
      <div class="ui-g-12 ui-md-1">
        <button pButton type="button" id="lovParametro" name="lovParametro" (click)="mostrarLovParametro()" icon="ui-icon-directions"></button>
      </div>
    </div>
    <app-lov-parametroanual (eventoCliente)=fijarLovParametroSelec($event)></app-lov-parametroanual>
  </form>
  <div class="f-datacontent ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-dataTable [value]="lregistros" [responsive]="true" scrollable="true" scrollHeight="350px">
        <p-header>
          <div class="ui-table-title">Liquidación</div>
          <acciones-consulta [componente]="componentehijo" [anterior]="true" [siguiente]="true"></acciones-consulta>
        </p-header>
        <p-column field="cliquidacion" header="C&oacute;digo" [style]="{'width':'60px'}"></p-column>
        <p-column header="Secuencia" [style]="{'width':'50px','padding':'1px'}" [filter]="true" filterPlaceholder="Filtrar" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData" let-col>
            <a [routerLink]="" (click)="IrAComprobanteContable(reg)"> {{ reg.ccomprobante }}</a>
          </ng-template>
        </p-column>
        <p-column field="mdatos.nfuncionario" header="Funcionario" [style]="{'width':'100px'}"></p-column>

        <p-column field="anio" header="Año" [style]="{'width':'100px'}"></p-column>

        <p-column field="finicio" header="F. Inicio" [style]="{'width':'85px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <span>{{reg.fvinculacion | date: 'yyyy-MM-dd'}}</span>
          </ng-template>
        </p-column>
        <p-column field="ffin" header="F. Desvinculación" [style]="{'width':'85px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <span>{{reg.fdesvinculacion | date: 'yyyy-MM-dd '}}</span>
          </ng-template>
        </p-column>
        <p-column header="Cerrada?" [style]="{'width':'65px'}" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            <p-checkbox [ngModel]="reg.cerrada" binary="true" disabled="true"></p-checkbox>
          </ng-template>
        </p-column>
        <p-column field="motivosalida" header="Motivo Salida"></p-column>
        <p-column [style]="{'width':'100px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <div class="f-table-actions">
           
             
              <button *ngIf="reg.cerrada" type="button" pButton icon="ui-icon-picture-as-pdf" name="btnpdf" (click)="descargarReporte(reg)"
                pTooltip="Descarga PDF" tooltipPosition="top"></button>
                <button *ngIf="reg.cerrada" type="button" pButton icon="ui-icon-done" name="btnpdf" (click)="aprobarPago(reg)"
                pTooltip="Aprobar pago" tooltipPosition="top"></button>
              

              <div class="oculto" style='display:none;'>
                <app-jasper [componente]="componentehijo" [formulario]="formFiltros"></app-jasper>
              </div>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>