/*Paleta 2*/
$primaryColor: #0007A7;
$primaryDarkColor: #000077;
$primaryLightColor: #5838da;
$accentColor: #FD654D;
$accentDarkColor: rgb(28, 179, 255);
$accentLightColor: #14FEDA;
$accentTextColor: #ffffff;
$darkMenuBgColor: #E9FE14;
$darkMenuHoverColor: #39FF14;
$darkMenuRouterLinkActiveColor: #5a4c74;
$lightMenuRouterLinkActiveColor: #176621;
$horizontalLightMenuRouterLinkActiveColor: #916731;
@import '../../sass/layout/_layout.scss';
