<div class="f-acciones-cabecera ui-g ui-fluid">
  <acciones-cabecera [componente]="componentehijo" [grabar]="false" [cargar]="false"></acciones-cabecera>

  <button *ngIf="!nuevo && !cerrada" pButton type="button" label="Finalizar Liquidación" style="position: absolute; right: 135px;"
    class="f-btn green-btn" icon="ui-icon-save" (click)="finalizarIngreso()"></button>

  <button *ngIf="!cerrada" pButton type="button" label="Guardar cambios" style="position: absolute; right: 1px;" class="f-btn teal-btn"
    icon="ui-icon-save" (click)="guardarCambios()" ></button>
</div>

<div class="f-contenedor-transaccion">
  <div class="f-acciones-cabecera ui-g ui-fluid">
  </div>

 

  <app-datosgenerales></app-datosgenerales>

  <app-detalle (eventoReferencia)="obtnerdatos($event)"></app-detalle>

  <p-fieldset legend="INGRESOS Y EGRESOS">
    <div class="container">
      <app-ingreso></app-ingreso>
      <app-egreso></app-egreso>
    </div>
  </p-fieldset>