<div class="f-contenedor-transaccion">
  <div class="f-acciones-cabecera ui-g ui-fluid">
    <acciones-cabecera [grabar]="false" [componente]="componentehijo"></acciones-cabecera>
  </div>

  <form #formFiltros="ngForm" class="f-filtros ui-g ui-fluid shadow-box ui-shadow-1 f-center-items">

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="saldocedetalle" class="ui-outputlabel required">Saldo Operativo</label>
      </div>
      <div class="ui-g-12 ui-md-6">
        <p-dropdown id="saldocdetalle" [filter]="true" name="saldocdetalle" [options]="ltipo" [(ngModel)]="mfiltros.saldocdetalle"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="fdesde" class="ui-outputlabel ">Fecha contable</label>
      </div>
      <div class="ui-g-12 ui-md-2">
        <p-calendar name="fdesde" [(ngModel)]="mcampos.fcontable" [showIcon]="true" [dateFormat]="formatofecha" required></p-calendar>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="centrocostoscdetalle" class="ui-outputlabel">Centro de Costo</label>
      </div>
      <div class="ui-g-12 ui-md-6">
        <p-dropdown id="centrocostoscdetalle" name="centrocostoscdetalle" [options]="lcosto" [filter]="true" [(ngModel)]="mfiltros.centrocostocdetalle"></p-dropdown>
      </div>
    </div>


  </form>
  <div class="f-datacontent ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-dataTable [value]="lregistros" [responsive]="true" scrollable="true" scrollHeight="350px"  rowGroupMode="subheader">
        <p-header>
          <div class="ui-table-title">Movimientos</div>
          <acciones-consulta [componente]="componentehijo" [anterior]="true" [siguiente]="true"></acciones-consulta>
        </p-header>
        <p-column field="mdatos.ntipo" header="Saldo" [filter]="true" filterPlaceholder="Filtrar"></p-column>
        <p-column field="centrocostocdetalle" header="Centro Costo" [filter]="true" filterPlaceholder="Filtrar" [style]="{'width':'75px'}"></p-column>
        
        <p-column field="ccuenta" header="Cuenta" [filter]="true" filterPlaceholder="Filtrar"  [style]="{'width':'75px'}"></p-column>
        <p-column field="mdatos.ncuenta" header="Nombre Cuenta" [filter]="true" filterPlaceholder="Filtrar"></p-column>
        <p-column field="mdatos.ntransacion" header="Transacción" [filter]="true" filterPlaceholder="Filtrar"></p-column>
        
        <p-column field="cmoneda" header="Moneda" [filter]="true" filterPlaceholder="Filtrar" [style]="{'width':'50px'}"></p-column>
        <p-column header="D&eacute;bito"  [style]="{'width':'60px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <div *ngIf="reg.debito">
              {{ reg.monto | number:'1.2-2' }}
            </div>
          </ng-template>
        </p-column>
        <p-column header="Cr&eacute;dito" [style]="{'width':'60px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <div *ngIf="!reg.debito">
              {{ reg.monto | number:'1.2-2' }}
            </div>
          </ng-template>
        </p-column>
        <ng-template pTemplate="rowgroupfooter" *ngIf="true">
          <td colspan="6" style="text-align:right">TOTAL</td>
          <td style="text-align:right">{{totalvencido | number:'1.2-2' }}</td>
          <td style="text-align:right">{{totalmonto | number:'1.2-2' }}</td>
          <td style="text-align:right"></td>
        </ng-template>
      </p-dataTable>
    </div>
  </div>
</div>