<div class="f-contenedor-transaccion">
  <div class="f-acciones-cabecera ui-g ui-fluid">
    <acciones-cabecera [componente]="componentehijo"></acciones-cabecera>
  </div>

  <form #formFiltros="ngForm" class="f-filtros ui-g ui-fluid shadow-box ui-shadow-1">
    <div class="ui-g-12 ui-md-8 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="fidentificacion" class="ui-outputlabel required">Persona</label>
      </div>
      <div class="ui-g-12 ui-md-2">
        <input id="fidentificacion" name="fidentificacion" type="text" pInputText [ngModel]="mcampos.identificacion"
          required [readOnly]="true" />
      </div>
      <div class="ui-g-12 ui-md-6">
        <input type="text" pInputText id="npersona" name="npersona" [(ngModel)]="mcampos.nombre" [readOnly]="true" />
      </div>
      <div class="ui-g-12 ui-md-2">
        <button pButton type="button" id="lovpersona" name="lovpersona" (click)="mostrarLovPersona()" icon="ui-icon-directions"></button>
        <button pButton type="button" id="lovpersonavista" name="lovpersonavista" (click)="mostrarLovPersonaVista()"
          icon="ui-icon-person" *ngIf="!estaVacio(mcampos.cpersona)"></button>
      </div>
      <app-lov-personas (eventoCliente)=fijarLovPersonaSelec($event)></app-lov-personas>
      <app-lov-persona-vista #vistadeudor></app-lov-persona-vista>
    </div>
    <div class="ui-g-12 ui-md-8 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="fcoperacion" class="ui-outputlabel required">Operación</label>
      </div>
      <div class="ui-g-2 ui-md-2">
        <input id="fcoperacion" name="fcoperacion" type="text" pInputText [(ngModel)]="condicionesArreglo.registro.coperacion"
          required [readOnly]="true" />
      </div>
      <div class="ui-g-9 ui-md-6">
        <input type="text" pInputText id="ntipoprod" name="ntipoprod" [(ngModel)]="mcampos.ntipoprod" [readOnly]="true" />
      </div>
      <div class="ui-g-1 ui-md-1">
        <button pButton type="button" id="lovoperacion" name="lovoperacion" (click)="mostrarLovOperacion()" icon="ui-icon-directions"
          *ngIf="!habilitamensaje"></button>
      </div>
      <app-lov-operacion-cartera (eventoOperCartera)=fijarLovOperacionSelec($event)></app-lov-operacion-cartera>
    </div>
    <div class="ui-g-12 ui-md-8 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="fctipoarreglo" class="ui-outputlabel required">Tipo de negociación</label>
      </div>
      <div class="ui-g-12 ui-md-8">
        <p-dropdown id="fctipoarreglo" name="fctipoarreglo" [options]="ltipoarreglo" [(ngModel)]="tipoarreglo" required
          [filter]="true" (onChange)="consultarRubrosArregloParam()"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 ui-md-8 ui-g-nopad" *ngIf="habilitamensaje">
      <div class="ui-g-12 ui-md-2">
        <label>&nbsp;</label>
      </div>
      <div class="ui-g-12 ui-md-10">
        <span style="color:red; text-decoration:blink;">
          <b>
            <h2> ** Estado del socio no permite ingreso de solicitud ** </h2>
          </b>
        </span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-8 ui-g-nopad" *ngIf="habilitamensajerestriccion">
      <div class="ui-g-12 ui-md-2">
        <label>&nbsp;</label>
      </div>
      <div class="ui-g-12 ui-md-10">
        <span style="color:red; text-decoration:blink;">
          <b>
            <h2> ** Socio tiene registrado novedad que no permite realizar créditos ** </h2>
          </b>
        </span>
      </div>
    </div>
  </form>

  <p-tabView>
    <p-tabPanel header="Datos operación" [selected]="true">
      <br />
      <br />
      <app-operacion-rubros-arreglo-pago></app-operacion-rubros-arreglo-pago>
      <app-rubros-arreglo-pago [hidden]="true"></app-rubros-arreglo-pago>
    </p-tabPanel>
    <p-tabPanel header="Condiciones" lacy=true [disabled]="!condiciones">
      <button pButton type="button" name="simular" id="simular" label="Simular" style="margin-bottom:10px" class="f-btn green-btn"
        icon="fa-check" (click)="grabarSimulacion()">
      </button>
      <app-condiciones-arreglo-pago (eventoCondiciones)=fijarCapacidad($event)></app-condiciones-arreglo-pago>
    </p-tabPanel>
    <p-tabPanel header="Deudor" lacy=true [disabled]="!condiciones">
      <app-capacidad-deudor></app-capacidad-deudor>
    </p-tabPanel>
    <p-tabPanel header="Garante" lacy=true [disabled]="!condiciones && !habilitaGarante">
      <app-capacidad-garante></app-capacidad-garante>
    </p-tabPanel>
  </p-tabView>
</div>
