<app-lov-tth-tiporelacionlaboral (eventoCliente)=fijarLovTipoRelacionLaboral($event)></app-lov-tth-tiporelacionlaboral>

<div class="f-contenedor-transaccion">
  <div class="f-acciones-cabecera ui-g ui-fluid">
    <acciones-cabecera [componente]="componentehijo"></acciones-cabecera>
  </div>

  <form #formFiltros="ngForm" class="f-filtros ui-g ui-fluid shadow-box ui-shadow-1">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 ui-md-2">
        <label for="ctiporelacionlaboralFilter" class="ui-outputlabel required">Tipo de Relación Laboral</label>
      </div>
      <div class="ui-g-2 ui-md-1">

        <input id="ctiporelacionlaboralFilter" name="ctiporelacionlaboralFilter" type="text" pInputText [(ngModel)]="mfiltros.ctiporelacionlaboral" required
         [readOnly]="true" />
      </div>
      <div class="ui-g-9 ui-md-4">
        <input type="text" pInputText id="nombreTipoRelacionLaboralFiltro" name="nombreTipoRelacionLaboralFiltro" [(ngModel)]="mcampos.nrelacionlaboral"
         [readOnly]="true" />
       </div>
      <div class="ui-g-1 ui-md-3">
        <button pButton type="button" id="lovtiporelacionlaboral" name="lovtiporelacionlaboral" (click)="mostrarLovTipoRelacionLaboral()" icon="ui-icon-directions"></button>
      </div>
    </div>
  </form>

  <div class="f-datacontent ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-dataTable [value]="lregistros" [responsive]="true" scrollable="true" scrollHeight="350px">
        <p-header>
          <div class="ui-table-title">Requisito Relación Laboral</div>
          <acciones-consulta [componente]="componentehijo" [anterior]="true" [siguiente]="true"></acciones-consulta>
        </p-header>
        <p-column field="crequisitorelacionlaboral" header="C&oacute;digo" [style]="{'width':'60px'}"></p-column>
        <p-column field="mdatos.dcatalogo" header="Documento Catálogo" ></p-column>
        <p-column field="fase" header="Fase" [style]="{'width':'60px'}" styleClass="f-center"></p-column>
        <p-column header="Obligatorio" [style]="{'width':'80px'}" styleClass="f-center">
          <ng-template pTemplate="body" let-reg="rowData">
            <p-checkbox [ngModel]="reg.obligatorio" binary="false" [disabled]="true"></p-checkbox>
          </ng-template>
        </p-column>

        <p-column [style]="{'width':'100px'}">
          <ng-template pTemplate="body" let-reg="rowData">
            <div class="f-table-actions">
              <acciones-reg [componente]="componentehijo" [reg]="reg"></acciones-reg>
            </div>
          </ng-template>
        </p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width: 100%" *ngIf="ins">
            <button type="button" pButton icon="ui-icon-add" (click)="crearNuevo()" label="Nuevo" class="f-btn f-float-left orange-btn"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>
</div>

<p-dialog header="Requisito Relación Laboral" [(visible)]="mostrarDialogoGenerico" [modal]="true" showEffect="fade" [responsive]="true"
  [positionTop]="120">
  <form #formDialogo="ngForm">
    <div class="f-dialogo">
      <div class="f-datacontent ui-g ui-fluid">

        <div class="ui-g-12 ui-g-nopad" *ngIf="!registro.esnuevo">
          <div class="ui-g-12 ui-md-2">
            <label class="ui-outputlabel">Código</label>
          </div>
          <div class="ui-g-12 ui-md-1">
            <input type="text" pInputText id="crequisitorelacionlaboral" name="crequisitorelacionlaboral" [(ngModel)]="registro.crequisitorelacionlaboral" autofoco required numeric maxlength="10"
              [disabled]="!registro.esnuevo" />
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-2">
            <label class="ui-outputlabel">Tipo Documento:</label>
          </div>
          <div class="ui-g-12 ui-md-8">
            <p-dropdown id="documentocdetalle" name="documentocdetalle" [options]="ltipo" [filter]="true"
              [(ngModel)]="registro.documentocdetalle" (onChange)="registrarEtiqueta(registro, ltipo, 'documentocdetalle', 'dcatalogo')" appendTo="body" required></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-2">
            <label for="fase" class="ui-outputlabel">Fase:</label>
          </div>
          <div class="ui-g-12 ui-md-2">
            <input type="text" required pInputText id="fase" name="fase" [(ngModel)]="registro.fase" entero  maxlength="3" [disabled]="!editable" />
          </div>          
        </div>

        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-2">
            <label class="ui-outputlabel">Obligatorio</label>
          </div>
          <div class="ui-g-12 ui-md-1">
            <p-checkbox name="activo" [(ngModel)]="registro.obligatorio" binary="false"></p-checkbox>
          </div>
        </div>        
      </div>
      <footer>
        <acciones-dialogo [formAcciones]="formDialogo" [componente]="componentehijo"></acciones-dialogo>
      </footer>
    </div>
  </form>
</p-dialog>