/*Paleta 1*/
$primaryColor: #328cc1;
$primaryDarkColor: #0B3C5D;
$primaryLightColor: #F5E2C8;
$accentColor: #d9b310;
$accentDarkColor: #1d2731;
$accentLightColor: #B0D0D3;
$accentTextColor: #212121;
@import '../sass/theme/_theme.scss';
