/*Paleta 3*/
$primaryColor: #00ced1;
$primaryDarkColor: #00ced1;
$primaryLightColor: #F5E2C8;
$accentColor: #E3DEDB;
$accentDarkColor: #E3DEDB;
$accentLightColor: #B0D0D3;
$accentTextColor: #212121;
@import '../sass/theme/_theme.scss';
